<h1>Authors</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Author</th>
      <th>Total Books</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td>
          <%= link_to author.name, author_path(author) %>
        </td>

        <td>
          <%= author.books_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>