<h1>About This Project</h1>

<p>
This application was developed as part of the Rails Intro Project.
</p>

<p>
The project demonstrates Ruby on Rails fundamentals including:
</p>

<ul>
  <li>Books listing</li>
  <li>Authors</li>
  <li>Categories</li>
  <li>Search</li>
  <li>Pagination</li>
  <li>Responsive Bootstrap interface</li>
</ul>