<h1>Dataset Description</h1>

<p>
This project uses a books dataset containing thousands of books along with
their authors, publishers and categories.
</p>

<ul>
  <li>Book title</li>
  <li>Author</li>
  <li>Publisher</li>
  <li>Category</li>
  <li>Language</li>
  <li>ISBN</li>
  <li>Rating</li>
  <li>Number of pages</li>
</ul>