<h1>Categories</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Books</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to category.name, category_path(category) %>
        </td>

        <td>
          <%= category.books_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>